
/* Full Scope   */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: var(--lh);
  
}
#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
  
  /* display: flex; */
  --lh: 1.4rem;
  
}
.linkColor{
  color: white;
  
}
.linkColor:hover{
  color: white;
  border-color: white;
  
}
button:hover{
  border-color: white;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-direction: column;
  
  /* width: 100vw; */
  /* flex-wrap: wrap; */
  /* background: rgb(123,123,123);
  background: linear-gradient(90deg, rgba(123,123,123,1) 30%, rgba(190,190,190,1) 100%); */
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container button{
  border-color: rgb(123, 123, 123);
  background-color: rgb(66, 66, 66);
}
.container button:hover{
  border-color: black;
}
span{
  color: red;
}
/*  End of Full Scope */

/*Navbar Section*/
header{
  /* position: fixed; */
  z-index: 1000;
  left: 0;
  top: 0;
  /* width: 100vw; */
  height: auto;
}
.header{
  min-height: 8vh;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* max-width: 1300px; */
  padding: 20px 0px;
  background: rgb(123,123,123);
  background: linear-gradient(180deg, rgba(123,123,123,1) 0%, rgba(66,66,66,1) 100%);
  /* min-height: 8vh; */
}
.navbar .storeName{
  padding-left: 20px;
}
.navbar .userButtons{
  margin-right: 50px;
}
.navbar .userButtons button{
  background-color: transparent;
  border-color: transparent;
  /* background-color: rgb(66, 66, 66); */
}
/*End of NavBar Section*/

/* Login Section */
.loginRegister{
  /* background-color: white; */
  /* max-height: 100vh; */
}
.Login_Register{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 250px;
  padding-top: 100px;
  margin-right: 50px;
  padding-bottom: 10px;
}
.Login_Register button{
  max-width: 140px;
  background-color: grey;
  
  /* border-color: black; */
}
.Login_Register button:hover{
  border: 2px solid black;
}
.Login_Register span button{
  background-color: transparent;
}
.Login_Register h2{
  margin: 20px;
  
  display: flex;
  justify-content: center;
}

form input{
  margin-bottom: 30px;
  height: 35px;
  width: 250px;
  font-size: 20px;
}
/* End of Login Section */

/* Category Section*/
.categoryPage{
  display: flex;
  flex-direction: row;
}
.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 100px; */
  font-size: 30px;
  height: 100vh;
  background-image: url(../public/MainBackground.png);
  background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
  /* width: 400px; */
}
.homePage::after{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.homePage button{
  width: 350px;
  margin: 15px 0px;
}

.cards{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 15px 15px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
  padding-top: 20px;
  max-height: 100vh;
  /* background: rgb(123,123,123);
  background: linear-gradient(0deg, rgba(123,123,123,1) 30%, rgba(190,190,190,1) 100%); */
}
.item_card{
  max-width: 300px;
  height: 400px;
}
.itemPage{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
  padding-top: 50px;
}
.itemDescription{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.itemPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 135px;
}
.itemPrice p{
  padding: 7px 40px;
  margin-bottom: 10px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  border: 2px solid #73AD21;
  border-color: black;
  width: 100%;
}
.itemPrice button{
  width: 100%;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  border: 2px solid;
  border-color: black;
}

/* End of Category Section   */

/* Cart Section*/

hr{
  text-align: center;
  /* max-width: 80%; */
  margin: 15px 15px;
}
.containerCart{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 15px;
  height: 150px;
}
.cartImage{
  margin-left: 20px;
}
.containerCart .cartItem{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  width: 700px;
  overflow: hidden;
}
.containerCart .cartItem .title p{
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
max-width: 90%;
}
.containerCart .cartItem .quantity p{
  text-align: left;
}
.checkoutHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.checkout {
  width: 650px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 60px;
}
.checkout .address .form label{
  padding: 0px 10px;
}
.checkout .payment .form .names label{
  padding-right: 5px;
}
.checkout .payment .form .cardNumber input{
  width: 500px;
}
.checkout .payment .form .dates_CVV{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
.checkout .payment .form .dates{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  /* max-width: 150px; */
}
.checkout .payment .form .dates label{
  padding-right: 5px;
}
.checkout .payment .form .dates input{
  width: 80px;
}
.checkout .payment .form .CVV input{
  width: 90px;
}

/* End of Cart Section */