

/* Full Scope   */
body,html {
    margin: 0;
    padding-top: 82.5px;
}
* {
    box-sizing: border-box;
}
#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
  /* overflow: hidden; */
  background-color: rgb(92, 158, 173);

  --lh: 1.4rem;
}
.linkColor {
  color: white;
}
.linkColor:hover {
  color: white;
  border-color: white;
}
button:hover {
  border-color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-direction: column;
  margin: 0 auto;
  /* width: 100vw; */
  /* flex-wrap: wrap; */
  /* background: rgb(123,123,123);
  background: linear-gradient(90deg, rgba(123,123,123,1) 30%, rgba(190,190,190,1) 100%); */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container button {
  border-color: rgb(123, 123, 123);
  background-color: rgb(50, 98, 115);
}
.container button:hover {
  border-color: rgb(227, 151, 116);
}
p {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
span p {
  color: red;
}
/*  End of Full Scope */

/*Navbar Section*/
header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  /* width: 100vw; */
  height: auto;
}
.header {
  min-height: 8vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* max-width: 1300px; */
  padding: 20px 0px;
  background: rgb(92,158,173);
  background: linear-gradient(0deg, rgba(92,158,173,1) 0%, rgba(227,151,116,1) 100%);
  /* border: 2px double rgba(238, 238, 238, 0.178); */
  /* min-height: 8vh; */
}
.navbar .storeName {
  padding-left: 20px;
}
.navbar .userButtons {
  margin-right: 30px;
  display: flex;
  
}
.navbar .userButtons .ham{
  height: 60px;
  width: 60px;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transform: scale(.8);
  margin-right: 10px;
}
.navbar .userButtons .ham img{
  position: relative;
  z-index: 99;
}
.navbar .userButtons .ham::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(238, 238, 238);
  animation: ham_puls 1s ease infinite;
  
}
.navbar .userButtons .ham button{
  /* background-image: '../../Images/icons8-search-50.png'; */
  padding: 0;
}
.navbar .userButtons .mobileMenu{
  list-style: none;
  position: absolute;
  background: rgb(92,158,173);
background: linear-gradient(0deg, rgba(92,158,173,1) 0%, rgba(227,151,116,1) 100%);
  width: 70vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;  
  padding-top: 100px;
  border: 1px solid black;
  /* border-radius: 100%; */
  border-radius: 15px;
  
}
.navbar .userButtons .mobileMenu h2{
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 30px;
}
.navbar .userButtons .active{
  left: 30%;
  margin-right: 100px;
}
.navbar .userButtons .active .styleSearchBar{
  height: 75px;
  width: 400px;
  font-size: 25px;
  border-color: rgb(238, 238, 238);
}
.navbar .userButtons .active .checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .userButtons .active .checkbox .filters{
  padding: 15px 15px;
}
.navbar .userButtons .active .checkbox .filters input[type="checkbox" i]{
  transform: scale(2);
  margin-right: 10px;
}
.navbar .userButtons .active .filteredList{
  display: grid; 
  grid-template-columns: 1fr 1fr;  
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  width: 500px;
  height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
}
.navbar .userButtons .active .filteredList .searchCard{
  padding: 15px 5px;
}
.navbar .userButtons button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

/*End of NavBar Section*/

/* Login Section */
.loginRegister {
  /* background-color: white; */
  /* max-height: 100vh; */
}
.Login_Register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 250px;
  padding-top: 100px;
  margin-right: 50px;
  padding-bottom: 10px;
}
.Login_Register button {
  max-width: 140px;
  background-color: grey;

  /* border-color: black; */
}
.Login_Register button:hover {
  border: 2px solid black;
}
.Login_Register span button {
  background-color: transparent;
}
.Login_Register h2 {
  margin: 20px;

  display: flex;
  justify-content: center;
}

form input {
  margin-bottom: 30px;
  height: 35px;
  width: 250px;
  font-size: 20px;
}
/* End of Login Section */

/* Category Section*/
.categoryPage {
  display: flex;
  flex-direction: row;
}
.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 100px; */
  font-size: 30px;
  height: 100%;
  background-image: url(../public/MainBackground.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  /* width: 400px; */
}
.homePage::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(227, 151, 116);
  opacity: 0.2;
  z-index: -1;
}
.homePage button {
  width: 350px;
  margin: 15px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 15px 15px;
  grid-template-areas:
    ". . ."
    ". . .";
  padding-top: 20px;
  max-height: 100vh;
  /* background: rgb(123,123,123);
  background: linear-gradient(0deg, rgba(123,123,123,1) 30%, rgba(190,190,190,1) 100%); */
}
.item_card {
  max-width: 300px;
  height: 400px;
}
.miniNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
/* .miniNav button {
  background-color: rgb(66, 66, 66);
  border-color: grey;
} */
.miniNav button:hover {
  border-color: black;
}
.itemPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
  padding-top: 50px;
}
.itemDescription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60%;
  border-radius: 10px;
  background-color: rgb(227, 151, 116);
  position: relative;
  z-index: 1;
}
.itemDescription::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(238, 238, 238);
  opacity: 0.3;
  z-index: -1;
  border-radius: 10px;
}
.itemPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 135px;
}
.itemPrice p {
  padding: 7px 40px;
  margin-bottom: 10px;
  background-color: rgb(50, 98, 115);
  border: 2px solid rgb(123, 123, 123);
  border-radius: 10px;
  width: 100%;
}
.itemPrice button {
  width: 100%;
  background-color: rgb(50, 98, 115);
  border: 2px solid rgb(123, 123, 123);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  /* border: 2px solid; */
}

/* End of Category Section   */

/* Cart Section*/

hr {
  text-align: center;
  /* max-width: 80%; */
  margin: 15px 15px;
}
h2{
  font-size: 40px;
  text-decoration: underline;
  margin-top: -10px;
  /* margin-left: 30px; */
}
.userCart{
  width: 650px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
  background: rgb(50,98,115);
  background: -moz-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  background: linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326273",endColorstr="#e39774",GradientType=1);
  position: relative;
  z-index: 1;
}
.containerCheckout{
  margin: 0;
}
.userCart::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgb(227, 151, 116); */
  opacity: 0.6;
  z-index: -1;
}
.containerCart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 15px;
  height: 150px;
}
.containerCartCheckout{
  /* margin-right: ; */
}
.cartImage {
  margin-left: 20px;
}
.containerCart .cartItem {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  width: 700px;
  overflow: hidden;
}
.containerCart .cartItem .title p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
}
.containerCart .cartItem .quantity{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.containerCart .cartItem .quantity p {
  text-align: left;
}
.ck{
  padding-top: 30px;
}
.checkoutHeader {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  /* padding: 30px 0; */
}
.checkout_To_Cart_Button {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  
}
.checkout {
  width: 650px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  background: rgb(50,98,115);
  background: -moz-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  background: linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326273",endColorstr="#e39774",GradientType=1);
}
.checkout .address .form label {
  padding: 0px 10px;
}
.checkout .payment .form .names label {
  padding-right: 5px;
}
.checkout .payment .form .cardNumber input {
  width: 500px;
}
.checkout .payment .form .dates_CVV {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
.checkout .payment .form .dates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  /* max-width: 150px; */
}
.checkout .payment .form .dates label {
  padding-right: 5px;
}
.checkout .payment .form .dates input {
  width: 80px;
}
.checkout .payment .form .CVV input {
  width: 90px;
}

/* End of Cart Section */


/*   Keyframes */
@keyframes ham_puls{
  0%{
      opacity: 1;
      transform: scale(1);
  }
  100%{
      opacity: 0;
      transform: scale(1.5);
  }
}
/* Media Query For Tablet */
@media only screen and (min-width:768px){

}
/* End of Media Query For Tablet */

/*  Media Query For Desktop */
@media only screen and (min-width:1200px){
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar .userButtons .ham{
    height: 60px;
    width: 60px;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    transform: scale(.8);
    margin-right: 10px;
  }
  .navbar .userButtons .ham img{
    position: relative;
    z-index: 99;
  }
  .navbar .userButtons .ham::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(238, 238, 238);
    animation: ham_puls 1s ease infinite;
    
  }
  .navbar .userButtons .ham button{
    /* background-image: '../../Images/icons8-search-50.png'; */
    padding: 0;
  }
  .navbar .userButtons .mobileMenu{
    list-style: none;
    position: absolute;
    background: rgb(92,158,173);
    background: linear-gradient(0deg, rgba(92,158,173,1) 0%, rgba(227,151,116,1) 100%);
    width: 40vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: .5s ease-in-out;  
    /* padding-top: 100px; */
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .navbar .userButtons .mobileMenu h2{
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  .navbar .userButtons .active{
    left: 60%;
    margin-right: 100px;
  }
  .navbar .userButtons .active .filteredList{
    display: grid; 
    grid-template-columns: 1fr 1fr;  
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    width: 500px;
    height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      margin: auto;
  }
  .navbar .userButtons .active .filteredList .searchCard{
    padding: 15px 5px;
  }
  .navbar .userButtons button {
    background-color: transparent;
    border-color: transparent;
    color: white;
  }

  .checkout {
    width: 650px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    
    /* padding: 0 60px; */
    background: rgb(50,98,115);
    background: -moz-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
    background: linear-gradient(0deg, rgba(50,98,115,1) 0%, rgba(227,151,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326273",endColorstr="#e39774",GradientType=1);
  }
  .ck{
    
  }
}
/*  End of Media Query For Desktop */